<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div class="col-lg-5 border border-info rounded mx-auto p-3 m-3 mt-5">

            <p class="alert alert-info">Register Here...</p>

            <form action=" " method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input  type="text" placeholder="First Name" class="form-control" name="first" required>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Last Name" class="form-control" name="last" required>
                </div>

                <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control" name="email" required>
                </div>


                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" name="pass1" required>
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Re enter Password" class="form-control" name="pass2" required>
                    <small id="pass_error" class="form-text "></small>
                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-secondary form-control" name="reg">
                    <label for=""><a href="/"><i>Already have an account</i> </a></label>
                </div>
            </form>


        </div>

        {% for m in messages%}
        <small id="pass_error" class="form-text text-danger">{{ m }}</small>
        {% endfor %}

    </div>



   


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
</body>



</html>